@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&display=swap');

 /* made by caleb Areeveso [@dope]  */


.red {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.reds,.hover {
  font-family: 'Comfortaa', cursive!important;
}
.big-red {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: #E43F5A;

}
.ss:hover {
  color: #E43F5A!important;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  background-color: #1B1B2F;
  z-index: 9999;
}
.middle {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yah {
  width: 80%!important;height: 50%!important;position: absolute!important;left:10%!important;right:10%!important;top:20%!important; 
}
.hover:hover {
  color: #E43F5A!important;
}
.fakeimg {
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.jumbotron {
  border-radius: 0px!important;
}
.space {
  padding-top:20px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #36639b;
}
.small {
  color: #E43F5A;
  font-weight: 500;
}
.dark {
  background-color: #1B1B2F;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid #1F4068;
}
.spic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
}
.dark-2 {
  background-color: #1B1B2F;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border: 2px solid #1F4068;

}
.cover {
background: url(../img/kit.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
padding: 15%;
}
.cover-2 {
background: url(../img/stage.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
padding: 15%;
}
.mls {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.mrs {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* .sc{padding: 1px 20%;} */
.sc-2{padding: 2% 12% 1% 12%;}
.sc-3{
padding:5% 5%;}
.rows {
    display: flex;
    justify-content: space-evenly;
    padding:0.3% ;
}
.as {
    background-color: #E43F5A;
    border-radius:20px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 5px;
    padding: 3px 2px;
}
.asa {
    background-color: #E43F5A;
    border-radius:20px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px;
}
.asa:hover {
    background-color: rgba(228, 63, 90, 0.705);
}
.load {
  transition:all 2s ease-in-out!important;
}
.load-container {
    margin: auto;
}
.hngi7 {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.hng-text {
  color: white;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hng-logo {
  color: white;
  font-weight: 700;
  padding:0px 0px 3px 3px ;
  font-size: 1.2rem;
  letter-spacing:2px;
  border-radius: 2px;
  background-color: #2157ca;
}
.smoothbtn {
  opacity: 1!important;
  bottom: 30px!important;

}
#myBtn {
  transition: all 0.5s ease-in;
  opacity: 0;
  position: fixed;
  bottom: -20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(228, 63, 90, 0.575);
  color: white;
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #e43f5a;
}
